<footer id="footer">
    <ul class="icons">
        <% if (pagination.prev) { %>
        <li><a href="<%= pagination.prev %>" class="icon solid fa-angle-left"></a></li>
        <% } %>
        <% if (pagination.next) { %>
        <li><a href="<%= pagination.next %>" class="icon solid fa-angle-right"></a></li>
        <% } %>
    </ul>
    <ul class="copyright">
        <li><%= themeConfig.siteName %></li><li> 由 <a href="https://html5up.net">HTML5 UP</a> 设计样式。</li>
    </ul>
</footer>