<section id="thumbnails">
    <% posts.forEach(function(post) { %>
        <article>
        <% if (post.feature) { %>
        <a class="thumbnail" href="<%= post.feature %>"><img src="<%= post.feature %>" alt="" /></a>
        <% } %>
        <h2><%= post.title %></h2>
        <%- post.content %>
    </article>
    <% }); %>
</section>