<header id="header">
    <h1><strong><%= themeConfig.siteName %></strong></h1>
    <nav>
        <ul>
            <% if (pagination.prev) { %>
            <li><a href="<%= pagination.prev %>" class="icon solid fa-angle-left"></a></li>
            <% } %>
            <% if (pagination.next) { %>
            <li><a href="<%= pagination.next %>" class="icon solid fa-angle-right"></a></li>
            <% } %>
            <li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
        </ul>
    </nav>
</header>